<div *ngIf="loading" class="text-center w-100">
  <p>Cargando películas...</p>
</div>

<div
  *ngIf="!loading && postersWithTitles.length > 0 && mode === 'row'"
  class="d-flex flex-row flex-nowrap overflow-auto "
  style="gap: 1rem;padding: 1rem;justify-content: center;"
>
  <div *ngFor="let poster of postersWithTitles" 
  class="col-4 col-md-1 col-lg-1"
  >
    <app-movie-poster
      [id]="poster.id"
      [posterUrl]="poster.url"
      [title]="poster.title"
    ></app-movie-poster>
  </div>
</div>

<!-- Modo grid (rellena toda la columna, varias filas) -->
<div
  *ngIf="!loading && postersWithTitles.length > 0 && mode === 'grid'"
  class="row align-items-center w-100"
>
  <div class="col-6 col-md-2 col-lg-2"  *ngFor="let poster of postersWithTitles">
    <app-movie-poster
      [id]="poster.id"
      [posterUrl]="poster.url"
      [title]="poster.title"
    ></app-movie-poster>
  </div>
</div>

<div *ngIf="!loading && postersWithTitles.length === 0" class="text-center w-100">
  <p>No hay resultados para mostrar.</p>
</div>
