.grid-anim-wrapper {
  position: relative;
  min-height: 140px;
}

.carousel-fade {
  opacity: 0;
  transition: opacity 0.4s;
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.carousel-show {
  opacity: 1;
  transition: opacity 0.4s;
  pointer-events: auto;
  position: relative;
}