<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">API TMDB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['data-table']" routerLinkActive="active">Data Table</a>
        </li>
       <!-- Boton para cambiar el theme de Dark a Light-->
        <li class="nav-item">
          <button class="btn btn-sm btn-secondary ms-2" (click)="toggleTheme()">
            <span *ngIf="isDarkMode; else sun">&#9790;</span>
          <ng-template #sun>&#9728;</ng-template>
        </button>
        </li>
        

      </ul>

    </div>
  </div>
</nav>